node_modules/
.github/
examples/
tests/

bootstrap/cache/*

storage/app/mirrors/*
storage/app/public/*
storage/app/tmp/*
storage/clockwork/*
storage/framework/views/*.php
storage/framework/testing/*
storage/framework/sessions/*
storage/framework/cache/*
storage/logs/*.log


.codeclimate.yml
.codecov.yml
.editorconfig
.env
.gitignore
.gitattributes
.nvmrc
.php_cs*
.phpstorm.meta.php
.styleci.yml
.travis.yml
_ide_helper*
docker-compose*.yml
*.xml.dist
